* {
  font-size: 14px;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #dcdcdc;
  color: #262626;
  margin-top: 150px;
  margin-bottom: 100px;
  margin-right: 225px;
  margin-left: 225px;
}

@media only screen and (min-width: 2000px) {
}

@media only screen and (max-width: 500px) {
  body {
    background-color: #dcdcdc;
    color: #262626;
    margin-top: 85px;
    margin-bottom: 85px;
    margin-right: 85px;
    margin-left: 85px;
  }
}

img {
  display: block;
  height: 235px;
  width: 285px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.gallery-item {
  position: relative;
  flex: 0 1 auto;
  margin: 0.5rem;
  color: #a9a9a9;
  cursor: pointer;
  background-color: #fafafa;
}

.gallery-item-info {
  margin-bottom: 2em;
  margin-top: 0.2em;
  margin-left: 1.4em;
  max-height: 20px;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

.gallery-item-info li {
  display: inline-block;
  vertical-align: middle;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item-comments {
  word-wrap: break-word;
  width: 165px;
}

ul {
  padding-inline-start: 10px;
}
